* {
    box-sizing: border-box;
    margin: 0;
}

#body {
    position: relative;
    background-color: lightgreen;

    height: 100vh;

    overflow: hidden;
}

#play {
    height: 15vh;
    width: 30vw;
    position: absolute;

    padding-top: 1vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: darkgreen 5px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;

    font-family: "Press Start 2P", cursive;

    color: darkgreen;
    background-color: lightgreen;

    cursor: pointer;

    user-select: none;
}

#play:hover {
    background-color: darkgreen;

    color: lightgreen;

    transition: 0.2s;
}

#restart {
    height: 15vh;
    width: 30vw;
    position: absolute;

    padding-top: 1vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: darkgreen 5px solid;
    background-color: lightgreen;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vw;

    font-family: "Press Start 2P", cursive;

    color: darkgreen;

    cursor: pointer;

    user-select: none;

    display: none;
    z-index: 100;
}

#restart:hover {
    background-color: darkgreen;

    color: lightgreen;

    transition: 0.2s;
}

#score {
    height: 15vh;
    width: 30vw;
    position: absolute;
    right: 0;

    font-size: 3vw;

    font-family: "Press Start 2P", cursive;

    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
